<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('Partials/Head') %>
  <body>
    <!-- Mobil Menuu -->
    <%- include('Partials/MobileMenu') %>
    <!-- Navbar -->
    <%- include('Partials/Navbar') %>
    <!-- body -->
    <%- include(body) %>
    <!-- Footer -->
    <%- include('Partials/Footer') %>
    <!-- Js -->
  </body>

</html>

